* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
  gap: 5px;
}

div > img {
  width: calc((100% - 10px) / 3);
  height: auto;
}

.blur {
  filter: blur(1px);
}

.brightness {
  filter: brightness(20%);
}

.constract {
  filter: contrast(50%);
}

.drop-shadow {
  filter: drop-shadow(2px 2px 1px gray);
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotation {
  filter: hue-rotate(160deg);
}

.invert {
  filter: invert(150%);
}

.opacity {
  filter: opacity(50%);
}

.saturate {
  filter: saturate(80%);
}

.sepia {
  filter: sepia(100%);
}