* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  margin: 5rem;
  padding: 10px;
  width: 120px;
  height: 120px;
  background-color: aquamarine;
}

div{
  background-color: rgb(250, 235, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100px;
  height: 100px;
  transition-duration: 1s;
}
/* 
div:hover{
  transform: scale( 1.5 , 1.6 );
  //
  transform: scaleX(1.5); 
  transform: scaleY(1.6); 
  //
} */

/* div:hover{
  transform: scale(-1);
} */


/* div:hover{
  transform: skew(10deg, 10deg);
  // transform: skew(10deg);
  transform: skew(10deg); //
} */

/* 
div:hover{
  transform: translate(2rem,1rem);
} */


/* div:hover{ */
  /* transform: rotate(10deg); */
  /*The rotateZ()/rotate method rotates an element around its Z-axis at a given degree*/
  /* transform: rotateX(10deg); */
  /*The rotateX() method rotates an element around its X-axis at a given degree*/
  /* transform: rotateY(10deg); */
  /*The rotateY() method rotates an element around its Y-axis at a given degree*/
/* } */


div:hover{
  transform: matrix(1.5, 0.1, 0.1, 1.5, 50, 50);
  /* scaleX(1.5), skewY(0.1), skewX(0.1), scaleY(1.5),
   translateX(50), translateY(50) */
}